/*-----COLOR PALETTE-----
From media/portrait-of-a-lady-on-fire-color-palette.jpg

Yellow-beige: #ECE3C1
Gray-beige: #CCC3AD
Green-beige: #D8D7BC
Darker green: #5A8077
Lighter green: #73978B
Gray-green: #96A899
Blue-green: #2F545C
Black: #211D20
Purple-gray: #886E6E
Dull red:#935949
*/

/*-----all pages-----*/
body {
    background-color:#f9f9f9;
}

header{
    background-color:#73978B;
    color:#2E4A4D; 
    text-align:center;
    font-family: 'Righteous', cursive;
    margin: -10px;
   padding-top: 7px;
}

div{
    text-align:center;
    font-family: 'Lora', serif;
}

.section-headings{
    padding: 4px;
    background-color: #99A5B3;
    /*background-color: #73978B;*/
    margin-left: -10px;
    margin-right:-10px;
    margin-bottom:8px;
    margin-top:1%;
    text-align: center;
    color:#2E4A4D;
    font-family: 'Righteous', cursive;
    font-size:smaller;
}

/*-----footer-----*/    
footer{
    width: 100%;
    text-align: center;
    display:inline-block;
    justify-content: center;
    font-family:'Lora', serif;
    font-size: smaller;
    margin-left: auto;
    margin-right:auto;
}

.footer-gifs{
    justify-content: center; 
    padding-block:initial;
    text-align: center;
}

.footer-gif{
    max-width: 125px;
}

/*-----tables-----*/
.table-area{
    display: inline-block;
    align-items:center;
    font-family:'Lora', serif;
    padding-left: 230px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

table{
    table-layout: auto;width: 150px;
}

td{
    border: 3px solid #99A5B3;
    border-right-style:groove;
    font-family:'Lora',serif;
    padding:10px;
}

/* OBSOLETE ATM
th{border: 3px solid #99A5B3;
    border-right-style:groove;
    font-family:'Lora',serif;
    padding:10px;
    font-weight: bolder;
}*/

.bold{font-weight: bold;
    background-color:#ECE3C1;
} 

.table-title{
    border: 3px solid #99A5B3;
    border-right-style:groove;
    font-family:'Lora',serif;
    padding:10px;
    font-weight: bolder;
}

td:hover{
    background-color:#ECE3C1;
}

/*-----menu-----*/
.menu{
    text-align:center;
    padding:15px;    
    list-style:none;
    background-color:#96A899; 
    color:#ECE3C1;
    font-weight: bold;
    position: sticky; 
    display: flex;
    justify-content:space-evenly;
    margin:-10px;
}

.links{
    text-decoration: none;
    font-size:larger;
    color:#2E4A4D;
    text-decoration-color:#2E4A4D;
}

a:visited{
    color:#2E4A4D;
}

nav li{
    display:inline-block;
}

/*-----gallery-----*//*IS THERE SOMETHING I CAN ADD TO MAKE THIS LOOK BETTER ON MOBILE?*/
/*.gallery{
    column-count: 4;
    column-gap: 5px;
    row-gap: 5px;
    width: 100%;
    height: aut0;
    margin-bottom: 5px;
}*/

.portrait{
    border:#2E4A4D; 
    max-width: 275px;
    height:auto;
    display:block;

}

.landscape{
    max-width: 200px;
}

figure{
    display: inline-block;
}

/*TESTING AREA TO MAKE CAPTION OVERLAY!*/
.overlay{
    position:absolute;
    bottom: 5px;
    background-color: #8bbf9f;
    color:antiquewhite;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: larger;

}
.container{
    position: relative;
    width: 50%;
    max-width: 275px;
    box-sizing:content-box;
  }

.container:hover .overlay{
    opacity: 1;
}

/*.caption{
    position: relative;
    overflow: hidden;
    background:tr
}*/

/*-------bits---------*/
.home-photo{
    max-width: 400px;
}

.home p{
    font-family: 'Lora', Serif;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#first-pie{
    text-align:center;
    font-family: 'Lora', serif;
    display: block;
}



/*------recipes------*/
.recipe-title{
    color:#2E4A4D; 
    margin-top: 1%;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
    /*text-decoration: dotted;
    text-decoration-color: #2E4A4D;*/
    background-color: #99A5B3;
    margin-left: -10px;
    margin-right:-10px;
    font-family: 'Righteous', serif;
    font-size:larger;
    font-weight: 175;

}

.byline{
    color:#2E4A4D;
    margin-top:-5px;
    text-align: center;
    background-color: #99A5B3;
    margin-left: -10px;
    margin-right:-10px;
    margin-bottom: 1%;
    font-family: 'Righteous', serif;
    font-size:medium;
    padding-bottom: 5px;
}

.recipe{
    text-align:left;
    list-style: none;
    font-family: 'Cutive', serif;
}

.recipe-image{max-width: 200px;
    display: inline-block;
}

.line-space li{ 
    margin-bottom: 7px;

}

.line-space li:hover{
    background-color:#8bbf9f;
}

#note{
    text-align: center;
    font-size: smaller;
}

/*----books and videos-----*/
.book-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

/*.books{
    font-family:'Lora', serif;
    display: block;
    justify-content: left;
}*/

.videos
{padding:100px;

}
