/*-----COLOR PALETTE-----
From https://www.metmuseum.org/art/collection/search/436634?&exhibitionId=0&oid=436634&pkgids=undefined

Dark blue-grey #6C7C8C 
Light blue-grey #99A5B3
Dark sage green #738E89
Dark green #2E4A4D
Light green #799D91
*/

/*-----global-----*/
body {background-color:#f9f9f9;
}

header{background-color:rgb(241, 184, 11);
    color:#2E4A4D; 
    text-align:center;
    font-family: 'Righteous', cursive;
    margin: -10px;
    padding-top: 1%;
}

div{text-align:center;
    font-family: 'Lora', serif;
}

/*-----footer-----*//*Why isn't my footer center.*/    
footer{text-align: center;
    display:inline-block;
    justify-content: center;
    font-family:'Lora', serif;
    font-size: smaller;
    margin-left: auto;
    margin-right:auto;
}

.footer-gifs{
    justify-content: center; 
    padding-block:initial;
    text-align: center;
}

.footer-gif{
    max-width: 125px;
}

/*-----tables-----*/
.table-area{display: flex;
    align-items:center;
    font-family:'Lora', serif;
    padding-left: 230px;
   /* padding-right: 100px;*/
    padding-top: 20px;
}

table{table-layout: auto;width: 150px;
}

td{border: 3px solid #99A5B3;
    border-right-style:groove;
    font-family:'Lora',serif;
    padding:10px;
}

th{border: 3px solid #99A5B3;
    border-right-style:groove;
    font-family:'Lora',serif;
    padding:10px;
    font-weight: bolder;
}

.bold{font-weight: bold;
    background-color:#99A5B3;
} 

td:hover{background-color:rgb(255, 229, 124);
}

/*-----menu-----*/
.menu{text-align:center;
padding:15px;    
list-style:none;
background-color:rgb(255, 229, 124); 
color:#2E4A4D;
font-weight: bold;
position: sticky; 
display: flex;
justify-content:space-evenly;
margin:-10px;
}

.links{text-decoration: none;
font-size:larger;
color:#2E4A4D;
text-decoration-color:#2E4A4D;
}

a:visited{color:#2E4A4D;
}

nav li{display:inline-block;
}

/*-----gallery-----*//*IS THERE SOMETHING I CAN ADD TO MAKE THIS LOOK BETTER ON MOBILE?*/
/*.gallery{
    column-count: 4;
    column-gap: 5px;
    row-gap: 5px;
    width: 100%;
    height: aut0;
    margin-bottom: 5px;
}*/

.portrait{border:#2E4A4D; 
    max-width: 275px;
    height:auto;
    display:block;

}

.landscape{max-width: 200px;
}

figure{
    display: inline-block;
}

/*TESTING AREA TO MAKE CAPTION OVERLAY!*/
.overlay{
position:absolute;
bottom: 5px;
background-color: deeppink;
color:antiquewhite;
width: 100%;
transition: .5s ease;
opacity:0;
font-size: larger;

}
.container {
    position: relative;
    width: 50%;
    max-width: 275px;
    box-sizing:content-box;
  }

.container:hover .overlay{ opacity: 1;
}

/*.caption{
    position: relative;
    overflow: hidden;
    background:tr
}*/

/*-------bits---------*/
.home-photo{max-width: 400px;
}

.recipe{text-align:left;
    list-style: none;
    font-family: 'Cutive', serif;
}
#recipe-title{color:#2E4A4D;
}

#byline{color:#99A5B3;
}
/*I don't know why these are still stuck in the center*/
.book-section{
    padding-top: 175px;
    display: block;
    justify-content: left;
}

.books{
    font-family:'Lora', serif;
    display: block;
    justify-content: left;
}

.videos{padding:100px;

}

.section-headings{
    padding: 30px;

}