/*-----COLOR PALETTE-----
From https://www.metmuseum.org/art/collection/search/436634?&exhibitionId=0&oid=436634&pkgids=undefined

Dark blue-grey #6C7C8C 
Light blue-grey #99A5B3
Dark sage green #738E89
Dark green #2E4A4D
Light green #799D91
*/

/*-----global-----*/
body {background-color:aliceblue;
}

header{background-color:aliceblue;
    text-align:center;
    font-family: 'Righteous', cursive;
}
footer{text-align: center;
    display:block;
    justify-content: center;
}
div{text-align:center;
    font-family: 'Lora', serif;
}

.footer-gifs{
    justify-content: center;
    
}
.footer-gif{
    max-width: 125px;
    
}
table{table-layout: auto;width: 150px;

}
td{border: 1px solid #333;
    border-right-style: none;} /*ANNA KEEP TROUBLESHOOTING THE BORDER LINES ON YOUR TABLE*/
/*-----menu-----*/
.menu{text-align:center;
padding:20px;
list-style:none;
background-color:rgb(255, 229, 124); 
color:#2E4A4D;
font-weight: bold;
position: sticky; 
display: flex;
justify-content:space-evenly;
margin:-10px;

}
.links{text-decoration: none;
font-size:larger;
}

a:visited{color:#2E4A4D;
}

nav li{display:inline-block;
    

}
/*-----GALLERY-----*//*IS THERE SOMETHING I CAN ADD TO MAKE THIS LOOK BETTER ON MOBILE?*/
.gallery{display: flex;
    margin-top: 75px;
    justify-content: center;
 }
 .portrait{border:#2E4A4D; max-width: 200px;}
 .landscape{max-width: 200px;
}
/*----------------*/
.home-photo{max-width: 400px;
}
.recipe{text-align:left;
    list-style: none;
    font-family: 'Cutive', serif;
}
#recipe-title{color:#2E4A4D;
}
#byline{color:#99A5B3;
}
